@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

.container {
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}
