<div
  class="capacity"
  [ngClass]="{
    firstEntry: indexSent === 0,
    lastEntry: indexSent === lastCap - 1
  }"
>
  <div class="col col1">
    <span>{{ capacity.name }}</span>
  </div>
  <div class="col col2">
    <span class="num">{{ capacity.emerging.per }}%</span>
    <span
      class="greenBar"
      [ngStyle]="{
        'width.px': (capacity.emerging.per * 90) / 100
      }"
    ></span>
    <span class="line"></span>
    <span class="blueBar"></span>
    <span class="num">{{ capacity.advanced.per }}%</span>
  </div>
  <div class="col col3">
    <circle-progress
      [percent]="75"
      [radius]="22"
      [space]="-5"
      [showSubtitle]="false"
      [outerStrokeWidth]="5"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#01ca8e'"
      [innerStrokeColor]="'#e8eaeb'"
      [animation]="true"
      [animationDuration]="1000"
      [responsive]="false"
      [outerStrokeGradient]="false"
      [animateTitle]="false"
      [showTitle]="true"
      [showUnits]="true"
      [showBackground]="false"
      [clockwise]="true"
      [lazy]="true"
      [outerStrokeGradientStopColor]="'#01ca8e'"
      [titleFontSize]="15"
      [titleColor]="'#87919f'"
      [unitsColor]="'#87919f'"
      [titleFontWeight]="600"
      [unitsFontWeight]="600"
    >
    </circle-progress>
  </div>
  <div class="col col4"></div>
</div>
