<div class="capacity">
  <div class="col col1">
    <span>Elementary SEL</span>
  </div>
  <div class="col col2"></div>
  <div class="col col3">
    <circle-progress [percent]="75" [radius]="22" [space]="-5" [showSubtitle]="false" [outerStrokeWidth]="5"
      [innerStrokeWidth]="5" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
      [animationDuration]="1000" [responsive]="false" [outerStrokeGradient]="false" [animateTitle]="false"
      [showTitle]="true" [showUnits]="true" [showBackground]="false" [clockwise]="true" [lazy]="true"
      [outerStrokeGradientStopColor]="'#4882c2'" [titleFontSize]="15" [titleColor]="'#87919f'" [unitsColor]="'#87919f'"
      [titleFontWeight]="600" [unitsFontWeight]="600">
    </circle-progress>
  </div>
</div>
